.background {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.feature.active {
    fill: orange;
}

#stadsdelen, #wijken, #buurten {
    fill: #cde;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
    cursor: pointer;
}
#stadsdelen .active, #wijken .active, #buurten .active {
    fill: #89a;
}
#stadsdelen {
    cursor: pointer;
}
.stadsdeel {
    fill: #345;
    stroke: #fff;
}

#list {
    max-height: 500px;
    overflow-y: scroll;
}

.list-group-flush .list-group-item {
    border: none;
}