/***************************************/
#geo {
    border: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    cursor: pointer;
    z-index: 10;
}

#geo .background {
    fill: #eee;
    pointer-events: all;
}

#level0-border{
    stroke: #111;
}
#level1-border{
    stroke: #222;
}
#level2-border{
    stroke: none;
}

/* #3182bd #9ecae1 #deebf7 */

#level0-area{
}
#level1-area{
}
#level2-area{
}
#selected-area{
    fill: none;
    stroke: #222;
    stroke-width: 2px;
}
.area {
    fill: #3182bd;
    stroke-width: 1px;
    stroke: #333;
}
.mesh {
    fill: none;
    stroke-width: 1px;
    stroke: red;
}

#geo-container{
    background-color: aliceblue;
}

/***************************************/
.select-list {
    max-height: 500px;
    overflow-y: auto;
}

.list-group-flush .list-group-item {
    border: none;
}