/*body {*/
    /*background-color: #fcf4ed;*/
/*}*/
/*body > div {*/
    /*background-color: rgb(255, 254, 254);*/
/*}*/

a {
    color: #d94701;
}
a:focus {
    color: #693101;
}
a:hover {
    color: #fd8d3c;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: #fd8d3c;
}
.card-header {
    background-color: white;
}
/***************************************/
#selection-list {
    font-size: 0.7em;
}
.li-buttons{
    display: block;
}
#selection-list .nav-item {
    font-size: 0.7em;
}
/***************************************/
#geo {
    stroke-linejoin: round;
    stroke-linecap: round;
    cursor: pointer;
    height: 380px;
    width: 100%;
}
#selection-list{
    max-height: 380px;
}

#geo .background {
    fill: white;
    pointer-events: all;
}

#level0-border{
    stroke: #111;
}
#level1-border{
    stroke: #222;
}
#level2-border{
    stroke: none;
}

/* #3182bd #9ecae1 #deebf7 */

#level0-area{
}
#level1-area{
}
#level2-area{
}
#selected-area{
    fill: none;
    stroke: #111;
    stroke-width: 2px;
}
.area {
    fill: #fdbe85;
    stroke-width: 1px;
    stroke: #e6550d;
    stroke: #525252;
}
.mesh {
    fill: none;
    stroke-width: 1px;
}

#geo-container{
    background-color: white;
}

/***************************************/
.select-list {
    max-height: 433px;
    overflow-y: auto;
}

.list-group-flush .list-group-item {
    border: none;
}

.list-group-item.active{
    background-color: #fd8d3c;
    border-color: #fd8d3c;
}
/***************************************/
#chart {
    width: 100%;
}
#chart .background {
    fill: #FCF4ED;
}
#chart .line {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

#selected-title-container{
    color: black;
    font-weight: bold;
    margin-top: 1em;
    border-left-color: #fdbe85;
    border-left-color: #fdbe85;
 }
#selected-title {
    margin-left: 0.25em;
}
.force-pull-right{
    position: absolute;
    right: 0.5em;
}
.function-writer .static{
    color: gray;
}

#years-legend{
    margin-top: 2em;
    margin-bottom: 2em;
}
#years-legend li:hover .active{
    text-decoration: underline;
}